.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.navlink {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.plain-text {
    font-style: normal;
    font-weight: 300px;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.rubric {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}